/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/

body {
  display: block;
  font-family: Arial, sans-serif;
  color: #ddddd1;
  height: 100%;
  background-color: #121211;
  margin: 0;
  font-size: 14px;
}

#topbar {
  width: 100%;
  height: 50px;
  background-color: #262626;
  margin-bottom: 20px;
  font-size: 15px;
  color: #ddddd1;
  font-weight: 400;
  text-decoration: none;
}

.nav-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;;
  align-content: center;
  width: 960px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav-left {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.user-nav {
  margin: 0 auto;
  margin-right: 0;
  height: 100%;
  width: 225px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.user-nav li {
  width: 30%;
  display: flex;
  align-items: center;
  height: 100%;
}

.user-nav li :hover {
  height: inherit;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #444442;
}

.user-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  font-size: 15px;
  color: #ddddd1;
  font-weight: 400;
  text-decoration: none;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  display: flex;
  justify-content: center;
}

.ReactModal__Content.ReactModal__Content--after-open {
  position: relative;
  margin-left: -220px;
  margin-top: 100px;
  width: 360px;
  height: 300px;
}

.close-modal {
  background: none;
  border :none;
  font-size: 18px;
  color: inherit;
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
}

.login-input-username {
  width: 304px;
}

.login-input-password {
  width: 304px;
}

.sentence-sorting {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  height: 75px;
}

.post-index-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #2b2b2b;
  padding: 21px;
  border-radius: 5px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.post {
  background-color: #181817;
  border: 2px solid #444442;
  width: 180px;
  height: 180px;
  position: relative;
  margin: 4px 2px;
  overflow: hidden;
  margin: 0 auto;
}

.post :hover {
  border-color: #C29F37;
  cursor: pointer;
}

.post img {
  margin: 0 auto;
  min-width: 180px;
  outline: 1px solid #121211;
  outline-offset: -1px;
  min-height: 180px;
  max-width: 300px;
  max-height: 240px;
  outline: 1px solid #121211;
  outline-offset: -1px;
}

.single-post-show {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.post-show-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 680px;
}

.post-container {
  display: flex;
  flex-direction: column;
  background-color: #2b2b2b;
  border-radius: 5px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  background-color: #262626;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1;
}

.post-nav {

}

.image-detail-container {

}

.image-detail-header {
  padding: 16px 20px;
  background: #2E2E2E;
}

.image-detail-header h2 {
  margin-bottom: 2px;
  margin: -3px;
}

.image-container {
  display: flex;
  background-color: #181817;
}

.image-container img {
  align-self: center;
  max-width: 100%;
  margin: 0 auto;
}

.post-comments-container {
  display: flex;
  flex-direction: column;
  background-color: #2B2B2B;
  border-radius: 5px;
  margin-top: 20px;
}

.comment-container {

}

.post-show-right {
  width: 313px;
  height: 580px;
  background-color: #262626;
  border-radius: 5px;
  /*overflow-y: hidden;*/
  overflow-x: hidden;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

.post-show-post-index-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: inherit;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.post-show-post-index-container .post {
  width: 141px;
  height: 141px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.post-show-post-index-container .post :hover {
  border-color: #C29F37;
  cursor: pointer;
}

.post-show-post-index-container .post img {
  margin: 0 auto;
  min-width: 180px;
  min-height: 180px;
  max-width: 300px;
  max-height: 240px;
}
