/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "bootstrap/glyphicons";

body {
  display: block;
  font-family: Arial, sans-serif;
  color: #ddddd1;
  height: 100%;
  background-color: #121211;
  margin: 0;
  font-size: 14px;
}

// applied to the body when image upload form opens
.noscroll {
  overflow: hidden;
}

a {
  color: #4E76C9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button, [type="submit"], [type="button"], [type="demo-submit"] {
  background: #595959; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#595959 0, #404040 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#595959 0, #404040 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#595959 0, #404040 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#595959 0, #404040 100%); /* Standard syntax */
  border: 1px solid #262626;
  border-top: 1px solid gray;
  color: #ddddd1;
  padding: 12px;
}

button:hover, [type="submit"]:hover, [type="button"]:hover, [type="demo-submit"]:hover {
  background: #595959; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#666 0, #595959 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#666 0, #595959 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#666 0, #595959 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#666 0, #595959 100%); /* Standard syntax */
  cursor: pointer;
}

#topbar {
  width: 100%;
  height: 50px;
  background-color: #262626;
  margin-bottom: 20px;
  font-size: 15px;
  color: #ddddd1;
  font-weight: 400;
  text-decoration: none;
}

.nav-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;;
  align-content: center;
  width: 960px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main-nav {
  height: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-nav {
  margin: 0 auto;
  margin-right: 0;
  height: 100%;
  width: 225px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.user-nav li {
  min-width: 30%;
}

.nav-container li {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-container li:hover {
  height: inherit;
  display: flex;
  align-items: center;
  background-color: #444442;
}

.nav-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  font-size: 15px;
  color: #ddddd1;
  font-weight: 400;
  text-decoration: none;
}

.nav-container .logo-container {
  width: 90px;
}

.nav-container .logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 900;
  // letter-spacing: .1em;
}

.menu-container {
  width: 40px;
  .menu-icon {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    outline: 0px solid transparent;
    z-index: 10;
    div {
      width: 18px;
      height: 2px;
      background: #ffffff;
      opacity: .9;
      margin-bottom: 2px;
    }
  }
}

.menu-list {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  left: -220px;
  top: 56px;
  width: 85px;
  margin: -6px auto;
  background: #efefef;
  border-radius: 5px;
  overflow: hidden;
  z-index: 10;
}

.menu-list div {
  height: 20px;
  width: 100%;
}

.menu-list div:hover {
  background: #ababab;
}

.menu-list a {
  width: 100%;
  color: black;
}

.menu-list li:hover {

}

.nav-container .upload-container {
  width: 180px;
  display: flex;
  justify-content: center;
}

.nav-container .upload-container:hover {
  background: none;
}

div .upload-button {
  font-weight: 500;
  width: 136px;
  height: 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div .upload-button:hover {
  cursor: pointer;
  background: #595959; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#357bf2 0, #306ed9 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#357bf2 0, #306ed9 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#357bf2 0, #306ed9 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#357bf2 0, #306ed9 100%); /* Standard syntax */
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  display: flex;
  justify-content: center;
  z-index: 100;
}

.ReactModal__Content.ReactModal__Content--after-open {
  position: relative;
  top: 80px;
  margin: 0 auto;
  width: 360px;
  min-height: 300px;
  max-height: 500px;
  z-index: 101;
}

.upload-modal {

}

input[type="text"], input[type="password"], textarea {
  font-family: inherit;
  background-color: #212121;
  color: #fff;
  height: 32px;
  width: 304px;
  border: 1px solid transparent;
  border-top: 1px solid #171717;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #333;
  outline: 0 none;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px auto;
  font-size: .9em;
  line-height: 1.5em;
  resize: none;
  letter-spacing: .02em;
}

textarea {
  font-size: 13.33333px;
  height: 80px;
  line-height: normal;
}

textarea:focus {
  border-color: #C29F37;
}

.comment-create {

}

.comment-create textarea {
  height: 28px;
  width: 100%;
  line-height: normal;
}

.comment-create-focused textarea {
  width: 100%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    gray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    gray;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    gray;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    gray;
}

.post-upload-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.post-upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.image-upload-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #777777;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.image-upload-image-option-container {
  display: flex;
  justify-content: space-around;
}

.image-upload-image-container {
  position: relative;
  max-width: 320px;
}

.image-upload-image-container img {
  align-self: center;
  height: 200px;
  max-width: 100%;
}

.image-edit-remove {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 67px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.remove-image-button {

}

.image-upload-container input, .image-upload-container textarea {
  width: 90%;
}

.add-image-button, .edit-image-button, .remove-image-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.add-image-button {
  background: #12a534;
  background: -webkit-linear-gradient(#12a534 0, #2a8f31 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#12a534 0, #2a8f31 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#12a534 0, #2a8f31 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#12a534 0, #2a8f31 100%);
}

.add-image-button:hover {
  background: #15a939;
  background: -webkit-linear-gradient(#19ab3b 0, #309a39 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#19ab3b 0, #309a39 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#19ab3b 0, #309a39 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#19ab3b 0, #309a39 100%);
}

.glyphicon-plus {
  -ms-transform: translate(1px, -1px); /* IE 9 */
 	-webkit-transform: translate(1px, -1px); /* Safari */
  transform: translate(1px, -1px);
}

.edit-image-button {
  background: #3274e5;
  background: -webkit-linear-gradient(#3274e5 0, #2a61bf 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3274e5 0, #2a61bf 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3274e5 0, #2a61bf 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3274e5 0, #2a61bf 100%);
}

.edit-image-button:hover {
  background: #357bf2;
  background: -webkit-linear-gradient(#357bf2 0, #306ed9 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#357bf2 0, #306ed9 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#357bf2 0, #306ed9 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#357bf2 0, #306ed9 100%);
}

.remove-image-button {
  background: #12a534;
  background: -webkit-linear-gradient(#d51234 0, #cf2a31 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#d51234 0, #cf2a31 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#d51234 0, #cf2a31 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#d51234 0, #cf2a31 100%);
}

.remove-image-button:hover {
  background: #15a939;
  background: -webkit-linear-gradient(#df1f3c 0, #d83139 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#df1f3c 0, #d83139 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#df1f3c 0, #d83139 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#df1f3c 0, #d83139 100%);
}

.close-modal {
  background: none;
  border :none;
  font-size: 18px;
  color: inherit;
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
}

.login-form-container {
  color: #AAAAAA;
}

.login-form-container a:hover {
  cursor: pointer;
}

.login-form-box {
  display: block;
}

.login-form-box span {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 900;
  opacity: .2;
  letter-spacing: .5em;
  position: relative;
  left: 55px;
  top: 40px;
}

.login-form {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

input:focus {
  border: 1px solid #39C442;
}

.login-form input[type="text"], input[type="password"] {
  width: 304px;
}

.login-input-username {

}

.login-input-password {

}

.login-submit-container {
  width: 88%;
  display: flex;
  justify-content: flex-end;
}

.login-form input[type="demo-submit"] {
  width: 77px;
}

.sentence-sorting {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  height: 75px;
  width: 100%;
  line-height: 33px;
  text-align: center;
  vertical-align: baseline;
}

.before, .between {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.combobox {
  cursor: pointer;
  display: inline-block;
  padding: 0 5px;
  outline: 0px solid transparent;
  position: relative;
}

.combobox .selection {
  border-bottom: 3px solid #39C442;
}

.combobox .selection:hover {
  color: #39C442;
}

.combobox .menu {
  color: #565656;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #efefef;
  border-radius: 5px;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  z-index: 200;
}

.combobox .selected-item {
  color: #39C442;
  border-bottom: 2px solid #cccccc;
}

.combobox .item {
  padding: 4px;
  font-size: .8em;
}

.combobox .item:hover {
  color: black;
  background: #ababab;
}

.post-index-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #2b2b2b;
  padding: 21px;
  border-radius: 5px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.post {
  background-color: #181817;
  border: 2px solid #444442;
  width: 180px;
  height: 180px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 7px;
}

.post:hover {
  border-color: #C29F37;
  cursor: pointer;
}

.post-info {
  position: absolute;
  background: #111111;
  width: 184px;
  margin-top: -6px;
  border-radius: 3px;
  z-index: 100;
}

.post-info-hidden {
  display: none;
}

.post-info-top {
  padding: 10px;
}

.post-info-bottom {
  background: #343434;
  padding: 10px;
  color: #999999;
}

.post img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  min-width: 180px;
  min-height: 180px;
  max-width: 300px;
  max-height: 240px;
  outline: 1px solid #121211;
  outline-offset: -1px;
}

.single-post-show {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.post-show-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 680px;
  margin-bottom: 700px;
}

.post-container {
  display: flex;
  flex-direction: column;
  background-color: #2b2b2b;
  border-radius: 5px;
}

.post-header {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  background-color: #262626;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1;
}

.post-header-fixed {
  min-height: 40px;
  position: fixed;
  top: 0;
  width: 640px;
  display: flex;
  justify-content: space-between;
  background: rgba(38, 38, 38, 0.9);;
  padding: 10px 20px;
  border-bottom: 5px;
  z-index: 1;
}

.post-header-content-container {
  width: 65%;
}

.post-header-title {

}

.post-header-title h1 {
  color: #f2f2f2;
  font-size: 16px;
  line-height: normal;
  word-wrap: break-word;
  padding: 0;
  margin: 0;
}

.post-header-details {

}

.post-footer {
  display: flex;
  padding: 20px;
  padding-top: 3px;
}

.upvote-button, .downvote-button {
  width: 40px;
  height: 38px;
  margin-right: 3px;
  cursor: pointer;
  background: #595959; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#595959 0, #404040 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#595959 0, #404040 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#595959 0, #404040 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#595959 0, #404040 100%); /* Standard syntax */
  border-top: 1px solid gray;
  border-bottom: 1px solid #262626;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upvote-button:hover, .downvote-button:hover {
  background: #595959; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#666 0, #595959 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#666 0, #595959 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#666 0, #595959 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#666 0, #595959 100%);
}

.upvote, .downvote {
  font-size: 24px;
  display: flex;
  justify-content: center;
}

// without glyphicons, rotate a unicode char to make arrows
//
// .upvote {
//   -ms-transform: rotate(-90deg); /* IE 9 */
//   -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
//   transform: rotate(-90deg);
// }
//
// .downvote {
//   -ms-transform: rotate(90deg); /* IE 9 */
//   -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
//   transform: rotate(90deg);
//   margin-left: 2px;
// }

.post-stats {
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.points {

}

.post-nav {
  right: 0;
  display: flex;
}

.post-nav span {
  font-size: 12px;
}

.post-nav div {
  height: 34px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
  border-radius: 2px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-show-next {
  width: 110px;
  background: #3274e5;
  background: -webkit-linear-gradient(#3274e5 0, #2a61bf 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3274e5 0, #2a61bf 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3274e5 0, #2a61bf 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3274e5 0, #2a61bf 100%);
  border: 1px solid #4d8eff;
  border-bottom: 1px solid #1f478c;
}

.post-show-next span {
  margin-left: 2px;
}

.post-show-next:hover {
  background: #357bf2;
  background: -webkit-linear-gradient(#357bf2 0, #306ed9 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#357bf2 0, #306ed9 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#357bf2 0, #306ed9 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#357bf2 0, #306ed9 100%);
}

.post-show-prev {
  width: 32px;
  border: 1px solid #464646;
  margin-right: 10px;
  background-color: rgba(100,100,100,.15);
}

.post-show-prev:hover {
  border-color: #666;
}

.image-detail-container {
  box-shadow: 0 4px 4px -2px rgba(0,0,0,.2),0 -4px 4px -2px rgba(0,0,0,.2);
  margin-bottom: 15px;
}

.image-detail-header {

}

.image-detail-header h2 {
  font-size: 14px;
  font-weight: 600;
  padding: 16px 20px;
  color: #CCC;
  background: #2E2E2E;
  text-shadow: none;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
}

.image-container {
  display: flex;
  background-color: #181817;
}

.image-container img, .image-container video {
  align-self: center;
  max-width: 100%;
  margin: 0 auto;
}

.image-detail-description {
  background: #2E2E2E;
  color: #CCC;
  padding: 20px;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.image-detail-description p {
  padding: 0;
  margin: 0;
}

.post-comments-container {
  display: flex;
  flex-direction: column;
  background-color: #2B2B2B;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.comment-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.comment-expand-option {
  position: absolute;
  left: -12px;
  top: 21px;
}

.comment-detail-container {
  margin-top: 5px;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
}

.comment-children {
  position: relative;
  margin-left: 20px;
}

.votes-container {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.votes-container div {
  width: 19px;
  height: 19px;
}

.votes-container div span {
  font-size: 16px;
}

.votes-container div span .upvote {

}

.upvote.upvoted {
  color: #89c624;
}

.downvote.downvoted {
  color: #e44;
}

.comment-text-container {
  background-color: #181817;
  line-height: 16px;
  padding: 10px;
  padding-bottom: 8px;
  min-height: 32px;
  width: 100%;
  word-wrap: break-word;
  border-radius: 4px;
}

.details {
  font: x-small verdana,arial,helvetica,sans-serif;
  color: #aaa;
  letter-spacing: 0;
  margin-bottom: 2px;
}

.post-show-right {
  width: 300px;
  height: 580px;
  background-color: #262626;
  border-radius: 5px;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

.post-show-post-index-header {
  width: 300px;
  height: 60px;
}

.post-show-post-index-header h2, h3 {
  margin-bottom: 0;
  padding-left: 40px;
  font-weight: 400;
}

.post-show-post-index-header h2 {
  color: #ddddd1;
  text-shadow: 1px 1px 1px #222;
}

.post-show-post-index-header h3 {
  margin-top: 0;
  color: #7f7f7f;
}

.post-show-right-scroll-container {
  width: 311px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.post-show-post-index-container {
  left: 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: inherit;
  width: 300px;
  column-gap: 2px;
  margin-left: auto;
  margin-right: auto;
}

.post-show-post-index-container .post {
  width: 141px;
  height: 141px;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
  border: 0;
}

.post-show-post-index-container .post-active {
  width: 137px;
  height: 137px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 5px;
  border: 2px solid #C29F37;
  display: block;
  justify-content: center;
}

.post-show-post-index-container .post-info {
  bottom: 0;
  width: 141px;
  font-size: 12px;
  border-radius: 0;
  background: rgba(11, 11, 11, .6);
  background: -webkit-linear-gradient(rgba(11, 11, 11, .5), rgba(11, 11, 11, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(11, 11, 11, .5), rgba(11, 11, 11, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(11, 11, 11, .5), rgba(11, 11, 11, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(11, 11, 11, .5), rgba(11, 11, 11, 1));
}

.post-show-post-index-container img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  max-width: 300px;
  max-height: 240px;
}
