/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   display: block;
   font-family: Arial, sans-serif;
   color: #ddddd1;
   height: 100%;
   background-color: #121211;
   margin: 0;
   font-size: 14px;
 }

.post-index-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #2b2b2b;
  padding: 21px;
  border-radius: 5px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.post {
  background-color: #181817;
  border: 2px solid #444442;
  width: 180px;
  height: 180px;
  position: relative;
  margin: 4px 2px;
  overflow: hidden;
  margin: 0 auto;
}

.post img {
  min-width: 180px;
  min-height: 180px;
  max-width: 300px;
  max-height: 240px;
  outline: 1px solid #121211;
  outline-offset: -1px;
}
